.footer {
	overflow: hidden;
	font-size: .7rem;
	font-weight: 500;
	height:auto;
	background-color: $sectionBackground;
	padding: 30px 20px;
	padding-bottom: 20px;
	text-align: center;

	&__nav {
			padding: 0;
			@mixin atMedium {
				padding-bottom: 20px;	
			}
			
		li {
			display: none;

			@mixin atMedium {
				display: inline-block;
				padding-right: 20px;

			}
		}
		a {
			color: $primaryColor;
		}
	}
	
}