.primary-nav {
		padding: 5px 10px;

		@mixin atMedium {
			padding: 90px 0 67px 0;
		}


	

	li {

		list-style: none;
		font-weight: 200;
		display: block;
		padding-bottom:20px;

		@mixin atMedium {
			display: inline-block;	
		}

	}

	a {
		
		padding-right: 35px;	
	}

}